/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

/* GLOBALS */
::-webkit-scrollbar {
    display: none;
}

/* (Eliminando espacios en blanco) */
html, body {
    width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    }

body {
font-family: "Raleway", sans-serif;
}

.os-title {
    font-family: 'Open Sans', sans-serif;
}

.fs-7 {
    font-size: .85rem;
}

/* IMAGES */
.logo-svg {
    width: 2rem;
}

/* DOCUMENT */

.navbar {
    background-color: rgba(0,0,0,.7);
}

/* MD */
@media only screen and (min-width: 720px) {
    .navbar {
        background-color: transparent;
    }
    
    .rel-img {
        height: 7.5em;
    }

    .c2b {
        height: 10em;
    }
}